body
{
    padding: 10px;
    margin: 40px;
    font-size: 24px;
    font-family: helvetica;
    background-image: url(https://wallpapermemory.com/uploads/804/planets-background-hd-3200x2048-153351.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
}

nav
{
    background-color: #3a2c4a;
    padding: 0px;
    color:#68b4f2;
}